.community-page-top-content-section,
.community-page-bios-section,
.support-us-section,
.press-section {
  padding-inline: 1rem;
  /* padding-top: 2rem; */
}
.join-community-section,
.subscribe-section {
  padding-top: 2rem;
}
.join-community-container,
.subscribe-container {
  padding-inline: 2rem;
}
.join-community-hero,
.subscribe-hero {
  width: 100%;
  height: auto;
  margin-bottom: 2rem; /* Ensures the image covers the container */
}

.join-community-content,
.subscribe-content,
.support-us-description,
.press-description {
  margin-block: 2rem;
}
.subscribe-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.subscribe-item {
  margin-bottom: 3rem;
}
.community-page-content-container {
  text-align: center;
  margin-bottom: 3rem;
}

.community-page-bios-grid {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.community-page-bio-subtitle {
  margin-bottom: 5px;
}
.community-page-bio-social-links {
  display: flex;
  gap: 15px;
}

.community-page-bio-social-links a {
  color: #000;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.community-page-bio-social-links a:hover {
  opacity: 0.7;
}

.community-page-bio-social-links svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
.filter-button {
  background-color: #fff;
  border: 1px solid #000;
  padding: 0.3rem;
  margin-right: 5px;
  cursor: pointer;
  font-size: 12px;
  margin-bottom: 1rem;
}
.filter-button.active {
  background-color: #000;
  color: #fff;
}
.community-label-filters {
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}
.subscribe-button-wrapper,
.press-button-wrapper,
.support-us-button-wrapper {
  text-align: center;
  margin-block: 2rem;
}
@media (min-width: 769px) {
  .community-bios-content,
  .community-bios-filter {
    max-width: 800px;
    margin-bottom: 2rem;
  }
  .join-community-hero,
  .subscribe-hero {
    height: 600px;
  }
  .community-page-bios-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .community-page-content-container {
    padding-inline: 8rem;
  }
  .filter-button {
    font-size: 16px;
  }
}
