.education-page-header-section,
.education-page-thematic-workshops-section,
.education-page-other-workshops-section,
.education-page-fellowships-grants-section,
.education-page-visual-media-literacy-section,
.education-page-past-programmes-section,
.education-page-support-section,
.education-page-support-section,
.education-page-press-links-section {
  padding-inline: 1rem;
  padding-top: 2rem;
}
.education-page-press-links-section {
  margin-bottom: 6rem;
}
.workshops-items-grid-wrapper,
.other-workshops-items-grid-wrapper,
.fellowships-and-grants-grid-wrapper,
.past-programmes-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.visual-media-literacy-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.workshop-item-tag,
.other-workshop-item-tag {
  position: absolute;
  top: 2px;
  right: 2px;
  background: rgba(0, 0, 0, 0.7);
  color: #000;
  padding: 5px 10px;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 12px 25.33px 0px;
  opacity: 1;
}
.other-workshop-item-image-wrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 1rem;
}
.other-workshop-item-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fellowship-grant-item-image-wrapper,
.workshop-item-image-wrapper,
.past-programmes-item-image-wrapper {
  margin-bottom: 1rem;
}
.workshop-item-image-wrapper {
  position: relative;
}
.workshop-item-description {
  margin-bottom: 1.75rem;
}
.workshop-item-time,
.workshop-item-location {
  margin: 0;
}
.workshop-item-title,
.other-workshop-item-title,
.fellowship-grant-item-title,
.past-programmes-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Restrict to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 3); /* Adjust based on line height */
  line-height: 1.2em; /* Adjust for better readability */
  word-break: break-word;
}
@media (max-width: 769px) {
  .workshop-item-title,
  .other-workshop-item-title,
  .fellowship-grant-item-title,
  .past-programmes-item-title {
    font-size: 16px;
  }
  .visual-media-section-slider {
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) {
  .workshops-items-grid-wrapper,
  .other-workshops-items-grid-wrapper,
  .fellowships-and-grants-grid-wrapper,
  .past-programmes-grid-wrapper {
    gap: 30px;
  }
  .workshop-item-tag,
  .other-workshop-item-tag {
    font-size: 15px;
  }
  .fellowships-and-grants-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .visual-media-literacy-container {
    grid-template-columns: 2fr 1fr;
    gap: 18px;
    align-items: center;
  }
  .education-page-content,
  .workshops-description {
    columns: 2;
    column-gap: 40px;
    margin-bottom: 2rem;
  }
  .visual-media-section-subheading {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -4px;
    margin-bottom: 2rem;
  }
  .visual-media-section-right {
    padding: 30px;
  }
}
