.education-page-header-section,
.education-page-thematic-workshops-section,
.education-page-other-workshops-section,
.education-page-fellowships-grants-section,
.education-page-visual-media-literacy-section,
.education-page-past-programmes-section,
.education-page-support-section {
  padding-inline: 1rem;
  padding-block: 4rem;
}
.front-page__header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.front-page__title {
  margin-top: 1.7rem;
  text-transform: uppercase;
  letter-spacing: -0.03em;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 100%;
}
.workshops-items-grid-wrapper,
.other-workshops-items-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Single column for mobile */
  gap: 10px;
}
.fellowships-and-grants-grid-wrapper,
.past-programmes-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.visual-media-literacy-container {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 769px) {
  .fellowships-and-grants-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
  .visual-media-literacy-container {
    grid-template-columns: 2fr 1fr;
    gap: 10px;
  }
}
