.education-page-header-section,
.education-page-thematic-workshops-section,
.education-page-other-workshops-section,
.education-page-fellowships-grants-section,
.education-page-visual-media-literacy-section,
.education-page-past-programmes-section,
.education-page-support-section {
  padding-inline: 1rem;
  padding-block: 3rem;
}
.workshops-items-grid-wrapper,
.other-workshops-items-grid-wrapper,
.fellowships-and-grants-grid-wrapper,
.past-programmes-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.visual-media-literacy-container {
  display: grid;
  grid-template-columns: 1fr;
}
.workshop-item-tag,
.other-workshop-item-tag {
  display: inline-block;
  padding-inline: 20px;
  border-radius: 55px;
  margin-top: 5px;
  backdrop-filter: blur(30px);
  background-color: rgb(225, 225, 225);
}
.other-workshop-item-image-wrapper {
  aspect-ratio: 16 / 9;
  overflow: hidden;
  margin-bottom: 1rem;
}
.other-workshop-item-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.fellowship-grant-item-image-wrapper,
.past-programmes-item-image-wrapper {
  margin-bottom: 1rem;
}

.workshop-item-description {
  margin-bottom: 1.75rem;
}
.workshop-item-time,
.workshop-item-location {
  margin: 0;
}
.related-post-title {
}
@media (min-width: 769px) {
  .fellowships-and-grants-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .visual-media-literacy-container {
    grid-template-columns: 2fr 1fr;
    gap: 18px;
    align-items: center;
  }
  .education-page-content,
  .workshops-description {
    columns: 2;
    column-gap: 40px;
    margin-bottom: 2rem;
  }
  .visual-media-section-subheading {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -4px;
    margin-bottom: 2rem;
  }
  .visual-media-section-right {
    padding: 30px;
  }
}
