.home .site-content {
  background-color: #fff;
  z-index: 10;
  position: relative;
  margin-top: 340px;
}

.home .hero-slider {
  position: fixed;
  transition: top 0.3s ease;
}

@media (min-width: 768px) {
  .home .site-content {
    margin-top: 650px;
  }
}

.home .site-footer {
  position: relative;
  z-index: 1;
}

.latest-stories__section,
.latest-articles__section,
.latest-announcements__section,
.bios-section {
  padding-inline: 1rem;
  padding-block: 4.5rem;
}
.latest-stories-grid {
  grid-column-gap: 0.5rem;
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}
@media (max-width: 1024px) {
  /* Tablet breakpoint */
  .latest-stories-grid {
    grid-template-columns: repeat(4, 1fr); /* 4 columns on tablet */
  }
}

@media (max-width: 768px) {
  /* Mobile breakpoint */
  .latest-stories-grid {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
  }
}
.latest-stories-item {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  display: flex;
  flex-flow: column;
}
.latest-stories__link {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  transition: color 0.15s;
  display: block;
  max-width: 100%;
}
.custom-thumbnail {
  vertical-align: middle;
  max-width: 100% !important;
  display: inline-block;
  height: 100%;
  object-fit: cover;
  height: auto !important;
}
.latest-stories__details-title {
  letter-spacing: -0.015rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.latest-stories__details-wrapper {
  margin-block: 2rem;
}
.latest-articles-grid {
  display: flex;
  gap: 0.5rem;
}
.latest-articles-item {
  flex: 1 1 calc(16.66% - 1rem); /* 16.66% width minus gap adjustment */
  max-width: calc(16.66% - 1rem);
}
.latest-articles__details-title {
  letter-spacing: -0.015rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
}
.latest-articles__details-wrapper {
  margin-block: 2rem;
}
.latest-announcements-section-wrapper {
  background-color: #f6f6f6;
}
.latest-announcement-grid {
  grid-column-gap: 10rem;
  grid-row-gap: 10rem;
  grid-template-rows: auto;
  grid-template-columns: 0.25fr 1fr;
  grid-auto-columns: 1fr;
  place-items: start stretch;
  display: grid;
}
.latest-announcements-heading-wrapper {
  flex-flow: column;
  justify-content: space-between;
  align-items: stretch;
  max-width: 15rem;
  height: 100%;
  min-height: 20rem;
  display: flex;
}

.latest-announcements__button {
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 0.5px solid #000;
  padding: 1rem 2rem;
  box-shadow: 0.9px 1px 0 0 #000, 1.5px 2px 0 0 #000, 2.5px 3px 0 0 #000,
    3.5px 4px 0 0 #000, 4.5px 5px 0 0 #000, 5.5px 6px 0 0 #000,
    6.5px 7px 0 0 #000, 7.5px 8px 0 0 #000, 8.5px 9px 0 0 #000,
    9.5px 10px 0 0 #000;
  position: relative;
  inset: 0;
  cursor: pointer;
  transform: rotateX(0), rotateY(0) rotateZ(0);
  display: inline-block;
  outline: 2px dashed transparent;
  transition: all 600ms ease;
}

.latest-announcements__button:hover {
  inset: 6px 0 5.5px 0;
  transform: rotateX(5deg) rotateY(3deg) rotateZ(0.25deg);
  box-shadow: none;
}

.latest-announcements-articles-wrapper {
  display: grid;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
}
.latest-announcements-article {
  border: 0.5px solid #000;
  flex-flow: row;
  grid-template-rows: auto;
  grid-template-columns: 2.75fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: stretch;
  min-height: 20rem;
  max-height: 20rem;
  display: grid;
  background-color: #fff;
}
.latest-announcements-article__content-wrapper {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
}
.latest-announcements-article__button-wrapper {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  flex-flow: column;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-content: stretch;
}
.latest-announcements-article__button {
  border-style: none none none solid;
  border-width: 0.5px;
  border-color: #000;
  color: #000;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  text-transform: uppercase;
}
.latest-announcement-time-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  border-bottom: 1px dotted black;
}

.bios-section-wrapper {
  background-color: #000;
}
.bios-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; /* 2 columns on mobile */
}
@media (min-width: 768px) {
  .bios-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.text-white {
  color: #fff;
}
.border-white {
  border-color: #fff;
}
.bios-details-wrapper {
  margin-block: 1rem;
}

/* New Template css */
.home-page-about-section,
.home-page-featured-post-section,
.home-page-related-posts-section,
.home-page-education-section,
.home-page-production-section,
.home-page-archive-section,
.home-page-community-section,
.home-page-shop-section,
.home-page-support-section {
  padding-inline: 1rem;
  padding-top: 1rem;
}
.home-page-support-section {
  margin-bottom: 6rem;
}
.home-page-about-section-container {
  text-align: center;
}

.related-post-title,
.shop-item-title,
.production-item-title {
  /* font-size: 16px; */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Restrict to 3 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: calc(1.2em * 3); /* Adjust based on line height */
  line-height: 1.2em; /* Adjust for better readability */
  word-break: break-word;
}
@media (max-width: 769px) {
  .related-post-title,
  .shop-item-title,
  .production-item-title {
    font-size: 16px;
  }
}
@media (min-width: 769px) {
  .home-page-about-section-container {
    padding-inline: 8rem;
  }
}

.featured-post-grid,
.top-production-item-grid,
.community-grid-container,
.archive-grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 1rem;
}
.featured-post-image-wrapper {
  position: relative;
}
.archive-description,
.education-description,
.community-description {
  margin-bottom: 30px;
}
.archive-button-wrapper,
.community-btn-wrapper {
  text-align: center;
}

@media (min-width: 769px) {
  .featured-post-grid,
  .top-production-item-grid,
  .archive-grid-container,
  .community-grid-container {
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 18px;
  }

  .featured-post-grid .post-image img {
    width: 100%;
    height: auto;
  }
  .archive-description-wrapper {
    padding: 30px;
  }
  .featured-post-meta-wrapper,
  .top-production-item-post-meta-wrapper {
    margin: 0 0 10px;
    font-size: 1.5rem;
    padding: 30px;
  }
  .featured-post-title,
  .education-post-title,
  .top-production-item-title {
    font-size: 3rem;
    line-height: 1.2;
    letter-spacing: -4px;
    margin-bottom: 2rem;
  }
  .education-meta-wrapper,
  .community-description-wrapper {
    padding: 30px;
  }
  .featured-post-subtitle,
  .top-production-item-description {
    font-size: 18px;
  }
  .archive-button-wrapper,
  .community-btn-wrapper {
    text-align: left;
  }
}
.related-posts-grid,
.education-items-grid,
.community-items-grid,
.archive-items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.related-posts-wrapper {
  /* padding-block: 2rem; */
}
.related-post {
  position: relative;
}
.related-post-image-wrapper,
.production-item-image-wrapper,
.shop-item-image-wrapper {
  margin-bottom: 0.5rem;
}

.featured-post-image-wrapper,
.related-post-image-wrapper,
.production-item-image-wrapper,
.education-item-image-wrapper,
.top-production-item-image-wrapper,
.community-image-wrapper,
.archive-item-image-wrapper,
.shop-item-image-wrapper {
  aspect-ratio: 3 / 2;
  /* overflow: hidden; */
}
.featured-post-image,
.related-post-image,
.education-item-image-wrapper img,
.production-item-image-wrapper img,
.top-production-item-image-wrapper img,
.community-image-wrapper img,
.archive-item-image-wrapper img,
.shop-item-image-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.home-page-about-section-description {
  margin-bottom: 3rem;
}
/* .production-description, */
.community-description,
.support-description {
  margin-block: 2rem;
}
.support-description {
  margin-inline: auto;
}

.shop-items-grid-wrapper,
.production-items-grid-wrapper,
.education-items-grid,
.community-items-grid,
.archive-items-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 3rem;
}
.shop-btn-wrapper,
.support-section-btn-wrapper {
  text-align: center;
}
.archive-section-btn-wrapper {
  text-align: center;
  padding-block: 2rem;
}

.shop-item {
  position: relative;
  margin-bottom: 3rem;
}

@media (min-width: 769px) {
  .related-posts-grid,
  .education-items-grid,
  .community-items-grid,
  .production-items-grid-wrapper,
  .archive-items-grid,
  .shop-items-grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
  }
  .related-post-title,
  .shop-item-title {
    line-height: 100%;
    margin-bottom: 10px;
  }
  .production-description {
    columns: 3;
    column-gap: 2rem;
    margin: 0 auto 1rem;
  }
}
